body, h1, h2, h3, h4, h5, h6, .doughbutton {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: bisque;
    align-items: center;
}

#main-sheet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    /* background-color: aquamarine; */
    padding-left: 1em;
    /* border-bottom: 1px solid black; */
}

#main-sheet > div:nth-of-type(6n+1),
#main-sheet > div:nth-of-type(6n+2),
#main-sheet > div:nth-of-type(6n+3) {
    background-color: rgb(248, 216, 173);
}

.sheet-header {
    /* background-color:; */
    border-bottom: 1px;
    border-color: black;
    font-weight: bolder;
}

.screen-input {
    width: auto;
}

#doughbuttonscont {
    display: flex;
    flex: initial;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
    padding-bottom: 1em;
}

#doughbuttons {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 80%;
    gap: 1em;
}

.doughbutton {
    background-color: lightcoral;
    border: none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    transition-duration: 0.2s;
    border: 1px solid bisque;
}

.doughbutton.doughcurrent {
    background-color: khaki;
    border: 1px solid black;
}

.doughbutton:hover {
    background-color:khaki;
    /* border: 1px solid bisque; */
    border: 1px solid black;
}

.doughbutton:active {
    background-color: white;
    /* color: lightcoral; */
    border: 1px solid bisque;
}

.total-cont {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#totals-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: auto;
    /* background-color: aqua; */
}

.total-cont-left {
    border-left: 1px solid bisque;
    border-top: 1px solid bisque;
    border-bottom: 1px solid bisque;
    /* transition-duration: 0.2s; */
}

.total-cont-right {
    border-right: 1px solid bisque;
    border-top: 1px solid bisque;
    border-bottom: 1px solid bisque;
    /* transition-duration: 0.2s; */
}

.total-cont-left.alt,
.total-cont-right.alt {
    background-color: rgb(248, 216, 173);
}

.total-cont-left.doughcurrent {
    border-left: 1px solid sienna;
    border-top: 1px solid sienna;
    border-bottom: 1px solid sienna;
}

.total-cont-right.doughcurrent {
    border-right: 1px solid sienna;
    border-top: 1px solid sienna;
    border-bottom: 1px solid sienna;
}

.total-cont-left.doughcurrent,
.total-cont-right.doughcurrent {
    background-color: khaki;
}

.total-cont-left, .total-cont-right {
    /* border: 1px solid black;
    background-color: cyan; */
}

.total-day-cont {
    margin-top: 10px;
}